:root {
    /*Main BG HSL*/
    --main-bg-color-h: 212;
    --main-bg-color-s: 44%; 
    --main-bg-color-l: 30%;
    /*Accent HSL*/
    --accent-color-h: 36;
    --accent-color-s: 50%;
    --accent-color-l: 45%;
}

body {
    font-family: sans-serif;
    color: #505050;
    height: 100vh;
    margin: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-bar {
    height: 4rem;
    margin: 0rem;
    padding: 0.4rem 2rem;
    color: white;
    background-color: hsl(var(--main-bg-color-h), var(--main-bg-color-s), var(--main-bg-color-l));
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar a {
    text-decoration: none;
    color: white;
}

.logo {
    font-size: 1.5rem;
    text-transform: capitalize;
    font-family: sans-serif;
}

.control button {
    border: solid hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l));
    border-radius: 5%;
    font-size: 1rem;
    padding: .4rem 1rem;
    color: white;
    background-color: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l));
}

.control button:hover {
    background-color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l)*1.3));
    border-color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l)*1.3));

}

.control button:active {
    background-color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l)*0.8));
    border-color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l)*0.8));

}

.main-content {
    flex: 1;
    background-color: hsl(var(--main-bg-color-h), calc(var(--main-bg-color-s)*0.2), calc(var(--main-bg-color-l)*3.2));
}

.modal {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem 6rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    background-color: #fcfcfc;
}

.modal-close-button {
    font-size: 2rem;
    position: absolute;
    top: .05em;
    right: .3em;
    cursor: pointer;
}

.modal h2 {
    margin-bottom: 3rem;
}
.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.modal .form-group {
    display: flex;
    gap: .5rem;
    justify-content: start;
}

.modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

footer {
    height: 4rem;
    background-color: hsl(var(--main-bg-color-h), var(--main-bg-color-s), calc(var(--main-bg-color-l)*0.8));

}